<!--
  Generated template for the OneBankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" style="" [ngClass]="((user!=undefined && user!=null && user.role_type == 'Artisan') ? 'primary artisanThick': ((user!=undefined && user!=null && user.role_type == 'Corporate Artisan') ? 'primary corporateArtisanThick' : ((user!=undefined && user!=null && user.role_type == 'Corporate Client') ? 'primary corporateClientThick' : 'primary clientThick')))"><!--background-color:#232D4B !important;-->
    <ion-title style="color: #fff !important; text-align: right; font-size: 1.5rem">
		<span style="color: #fff !important; text-align: right; font-size: 1.5rem">Support Tickets</span>
	</ion-title>
	<ion-buttons start> 
		<div (click)="viewProfilePix()" style="background-color: transparent !important; border-radius: 50% !important; height: 32px !important; width: 32px !important; overflow: hidden">  
			<!--<img src="assets/imgs/icon_user.png" style="height: 32px !important; background-color: transparent !important">-->
			<img *ngIf="!(user!=undefined && user!=null && user.current_image_url!=null)" src="assets/imgs/icon_user.png" style="width: 32px !important; background-color: transparent !important">
			<img *ngIf="(user!=undefined && user!=null && user.current_image_url!=null)"  [src]="user.current_image_url" style="width: 32px !important; background-color: transparent !important">
		</div> 
	</ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
	<div style="float: right !important;"  (click)="refreshMessageList()">
		<div style="padding-top: 5px !important; float:left !important">
			<ion-icon name="refresh" style="font-size: 2.0em !important"></ion-icon>
		</div>
		&nbsp;&nbsp;&nbsp;
		<a ion-button small color="primary" class="smallbtnright btn-success" (click)="openTicket()" style="">Open New Ticket</a>
	</div>
	<div style="clear:both !important">
		<ion-list  ion-row style="margin:0px !important; padding-right: 0px !important; margin-right:0px !important;" *ngIf="messageThreads.length>0">
			<ion-item class="ion-item_1" *ngFor="let messageThread of messageThreads; let t1=index" style=""><!-- [style.background-color]="acct.bgColor" -->
				<div col-12 style="float: left !important; font-size: 0.9em !important;">
					<span style="color: #757373; padding: 0px !important; font-weight: bold">#{{messageThread.project_ref}} - {{messageThread.projectStatus}}</span><br>
					<strong style="font-size: 0.9em !important">{{messageThread.title}}</strong><br>
					{{messageThread.message_date_sent}} | {{messageThread.first_name}} {{messageThread.last_name}}<br><br>
					<span style="white-space: normal; padding:0px !important">
					{{(messageThread.message_body.substr(0, 200)) + (messageThread.message_body.length > 200 ? '...' : '')}}
					</span>
					<div col-12 style="clear: both !important">
						<span style="float: left !important; font-size: 0.9em !important; cursor: pointer !important; padding-top: 10px !important">{{messageThreadDetails[messageThread.threadId]['unread']}}/{{messageThreadDetails[messageThread.threadId]['all']}}</span>
						<span style="float: right !important; font-size: 0.9em !important; cursor: pointer !important; padding-top: 10px !important" (click)="showMessage(messageThread, user)">View Ticket</span>
					</div>
				</div>
			</ion-item>


		</ion-list>
		<ion-list  ion-row style="margin:0px !important; padding-right: 0px !important; margin-right:0px !important;" *ngIf="messageThreads.length==0">
			<ion-item class="ion-item_1" style=""><!-- [style.background-color]="acct.bgColor" -->
				<div col-12 style="float: left !important; font-size: 0.9em !important; text-align: center !important">
					<span style="color: #757373; padding: 0px !important; font-weight: bold">You do not have any tickets</span><br>
				</div>
			</ion-item>


		</ion-list>
	</div>

</ion-content>
