page-view-ticket {
	.vertical-align-content > *
	{
		 display: flex!important;
		 align-content: center!important;
		 align-items: center!important;
	}
	
	.scroll-content{
		/*padding: 0px !important;*/
		background-color: #f7f7f7 !important;
	}
	
	.list-ios > .item-block:first-child {
		border-top: 0px solid #c8c7cc;
	}
	
	.item-inner{
		padding: 5px !important;
	}
	
	.input-wrapper{
		background-color: #fff !important;
		border-radius: 5px;
	}
	
	.ion-item_1{
		border-bottom: 0px solid #4B8D23;
		padding: 0px !important;
		background-color: #f7f7f7 !important;
	}
	
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
		border-bottom: 0px solid #4B8D23;
	}
	
	.list span {
		border-right: 0px !important;
	}
	
	.list-md {
		background-color: transparent !important;
	}
	
	
	.segment-ios .segment-button.segment-activated{
		background-color: #f7f7f7 !important;
		color: #000 !important;
		border-color: #f7f7f7 !important;
	}
	
	.segment-button{
		border-color: #f7f7f7 !important;
	}
	
	.clientThick{
		background-color: #4298f5 !important;
	}
  
	.artisanThick{
		background-color: #2282ab !important;
	}
}
