page-new-context-menu {
	ion-content{
		background-color: rgba(255, 255, 255, 0.1);
	}
	
	.clientThick{
		background-color: #4298f5 !important;
	}
  
	.artisanThick{
		background-color: #2282ab !important;
	}
}
