page-profile-pix {
	ion-content{
		background-color: rgba(255, 255, 255, 0.1);
	}
	
	.smallbtnright{
		font-size: 1.2em !important;
	}
	
	ion-badge{
		background-color: #c5d7eb !important;
		color: #000 !important;
	}
	
	.clientThick{
		background-color: #4298f5 !important;
	}
  
	.artisanThick{
		background-color: #2282ab !important;
	}
}
