page-contact {
    .text-input{
		background-color: #C1CAE3 !important;/**/
		padding: 7px !important;/**/
		text-align: left;
		font-size: 0.9em;
		
	}
	
	ion-label{
		border: 0px !important;
		color: #000 !important;
	}
	
	.label-md[stacked], .label-md[floating]
	{
		margin-left: 5px !important;
		margin-top: 5px !important;
	}
	
	ion-datetime{
		background-color: #C1CAE3 !important;
		padding: 14px !important;/**/
		text-align: left;
		font-size: 0.9em;
		width: 100%;
		padding-left: 21px !important;
		
	}
	
	textarea{
		height: 40vh !important;
		font-size: 0.9em;
	}
	
	ion-select{
		background-color: #C1CAE3 !important;
		padding: 24px !important;
		padding-left: 14px !important;
		font-size: 0.9em !important;
	}
	
	.item-md.item-block .item-inner
	{
		border: 0px solid !important;
	}
	
	
	
	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	
	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	
	.item-md ion-avatar ion-img, .item-md ion-avatar img {
		border-radius: 10%
	}
	
	ion-input, ion-textarea {
		background-color: #C1CAE3 !important;
		padding-left: 14px !important;
	}
	
	.item-md.item-block .item-inner {
		padding-right: 0px !important;
	}
	
	ion-list ion-item{
		padding: 0px !important;
	}
	
	.list span {
		border-right: 0px !important;
	}
	
	ion-footer .toolbar
	{
		padding: 0px !important;
	}
	
	.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
		margin-right: 0px !important;
	}
	
	.clientThick{
		background-color: #4298f5 !important;
	}
  
	.artisanThick{
		background-color: #2282ab !important;
	}
}
